<div class="container">
    <div class="jumbotron">
        <img src="">
        <button type="button" class="btn btn-primary" id="addFriend">Add a friend</button>
    </div>
    <hr>
    <div class="row">Name </div>
    <div class="row">Email</div>
</div>

<div>
    schedule
</div>