<div class="container">
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="username">username</label>
        <input class="text" name="username"  />
        <label for="phone">phone</label>
        <input name="phone" type="text" />
        <label for="linkToImage">Link To Image</label>
        <input name="linkToImage" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
</div>